body {
    width: 400px;
    height: 320px;
    font-family: "Verdana","Arial",sans-serif;
}

div.command_pane {
    position: relative;
    width: 195px;
    float: left;
}

#commands {
    width: 100%;
    height: 265px;
    margin-bottom: 5px;
    resize: none;
}

div.image_pane {
    position: relative;
    width: 195px;
    float: right;
}

#images {
    width: 100%;
    height: 263px;
    margin-bottom: 5px;
    overflow: auto;
    border: 1px solid gray;
}

#images img {
    margin: 5px;
    width: 165px;
}

#message {
    position: absolute;
    color: green;
    bottom: 3px;
    left: 5px;
    font-size: 11px;
}

div.copyright {
    position: absolute;
    right: 5px;
    bottom: 3px;
    color: gray;
    font-size: 10px;
}

#command_pane {
    text-align: right;
    width: 195px;
    font-size: 12px;
}

#function_pane {
    text-align: right;
    width: 195px;
    font-size: 12px;
}

div.info_pane {
    font-size: 12px;
    height: 20px;
}

div.info_pane div {
    float: left;
}

div.info_pane img {
    float: right;
    cursor: pointer;
}
